<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta th:name="_csrf" th:content="${_csrf.token}"/>
		<meta th:name="_csrf_parameter_name" th:content="${_csrf.parameterName}"/>
		<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

		<title th:if="${pageTitle != null}" th:text="|AlgaShop - ${pageTitle}|">AlgaShop</title>
		<title th:if="${pageTitle == null}">AlgaShop</title>

 		<!-- Google font -->
 		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

 		<!-- Bootstrap -->
 		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>

 		<!-- Slick -->
 		<link type="text/css" rel="stylesheet" href="/css/slick.css"/>
 		<link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>

 		<!-- nouislider -->
 		<link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>

 		<!-- Font Awesome Icon -->
 		<link rel="stylesheet" href="/css/font-awesome.min.css">

 		<!-- Custom stlylesheet -->
 		<link type="text/css" rel="stylesheet" href="/css/style.css"/>

    </head>
	<body>
		<!-- HEADER -->
		<header>
<!--			 TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i>972-286-5660</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> contact@algashop.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> Main Street 2122 - Ho Town</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li style="color: #FFF">
							<th:block th:text="|Hi ${@algaShopSecurityService.getAuthenticationName()}!|"></th:block>
						</li>
						<li th:if="${!@algaShopSecurityService.isAuthenticated()}">
							<a href="/login"><i class="fa fa-user-o"></i>Login</a>
						</li>
						<li th:if="${@algaShopSecurityService.isAuthenticated()}">
							<a href="/logout"><i class="fa fa-user-o"></i>Logout</a>
						</li>
					</ul>
				</div>
			</div>
<!--			 /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-2">
							<div class="header-logo">
								<a href="/" class="logo">
									<img src="/img/logo.png" alt="">
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-8">
							<div class="header-search">
								<form id="productFilter" th:action="|/products|"
										method="get">
									<select name="categoryId" class="input-select">
										<option value="">All categories</option>
										<option th:each="category : ${@menuService.loadCategories()}" th:text="${category.name}"
												th:value="${category.id}"></option>
									</select>
									<input name="term" class="input term-input" placeholder="Search here">
									<button type="submit" class="search-btn">Search</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-2 clearfix">
							<div class="header-ctn">

								<!-- Icons -->
								<th:block th:insert="~{fragments/my-account-icon.html}"></th:block>
								<th:block th:insert="~{fragments/shopping-cart-summary.html}"></th:block>
								<!-- /Icons -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li><a href="/">Home</a></li>
						<li><a href="/products?">Categories</a></li>
						<li><a href="/products?hasDiscount=true">Top Deals</a></li>
						<li th:each="category : ${@menuService.loadCategories()}">
							<a th:href="|/products?categoriesId=${category.id}" th:text="${category.name}">Laptops</a>
						</li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section" th:if="${breadcrumbs != null}" >
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
<!--						<h3 class="breadcrumb-header" th:text="${pageTitle}">Regular Page</h3>-->
						<ul class="breadcrumb-tree">
							<li th:each="breadcrumb : ${breadcrumbs}"><a th:href="${breadcrumb.path}" th:text="${breadcrumb.title}"></a></li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<th:block layout:fragment="content"/>

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">About us</h3>
								<p>AlgaShop electronic store</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-phone"></i>972-286-5660</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i> contact@algashop.com</a></li>
									<li><a href="#"><i class="fa fa-map-marker"></i> Main Street 2122 - Ho Town</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Categories</h3>
								<ul class="footer-links">
									<li><a href="/">Home</a></li>
									<li><a href="/products?hasDiscount=true">Deals</a></li>
									<li><a href="/products">Categories</a></li> <!--todo /categories/x -->
									<li th:each="category : ${@menuService.loadCategories()}"><a th:href="|/categories/${category.slug}-${category.id}|" th:text="${category.name}">Laptops</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Info</h3>
								<ul class="footer-links">
									<li><a href="#">About us</a></li>
									<li><a href="#">Contact</a></li>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">For you</h3>
								<ul class="footer-links">
									<li><a href="/my-account">Your account</a></li>
									<li><a href="/shopping-cart">Shopping Cart</a></li>
									<li><a href="/my-account/orders">Your orders</a></li>
									<li><a href="#">Help</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								Copyright &copy;<script>document.write(new Date().getFullYear());</script>
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.mask.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/slick.min.js"></script>
		<script src="/js/nouislider.min.js"></script>
		<script src="/js/jquery.zoom.min.js"></script>
		<script src="/js/main.js"></script>

		<th:block layout:fragment="javascript-extra"/>

	</body>
</html>
