<div class="p-grid">
    <div class="p-col-12">
        <div class="aw-page-title">
            <h1 class="aw-card-title">Categories</h1>
            <button routerLink="/categories/new"
                pButton
                pRipple
                type="button"
                label="New"
                class="p-button-primary p-button-outlined">
            </button>
        </div>
        <div class="aw-page-options">
          <app-category-filter (doFilter)="doSearch($event)"
                               [appliedFilter]="filter" />
        </div>

        <p-table [value]="categories!"
                styleClass="p-datatable-sm p-card"
                [lazyLoadOnInit]="false"
                [resizableColumns]="true"
                columnResizeMode="expand"
                [lazy]="true"
                (onLazyLoad)="onPageChange($event)"
                [paginator]="true"
                [rows]="recordsPerPage"
                [totalRecords]="totalElements"
                [loading]="loading">
            <ng-template pTemplate="header">
                <tr>
                    <th [pSortableColumn]="sortProperties.NAME">Name<p-sortIcon [field]="sortProperties.NAME"></p-sortIcon></th>
                    <th>Enabled</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-category>
                <tr>
                    <td>
                        <a routerLink="/categories/{{category.id}}"
                            class="aw-table-link">
                            {{category.name}}
                        </a>
                    </td>
                    <td>
                      <app-category-status-badge [enabled]="category.enabled"/>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
                <tr>
                    <td [attr.colspan]="3" style="text-align: center; padding: 1em;">
                      No results were found for this search.
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
