<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/blank}">

<th:block layout:fragment="breadcrumb">

</th:block>

<th:block layout:fragment="content">
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
<!--                    <h3 class="breadcrumb-header">Pedido #240X5GX345AHT</h3>-->
                    <ul class="breadcrumb-tree">
                        <li><a href="/">Home</a></li>
                        <li><a href="/my-account">My account</a></li>
                        <li><a href="/my-account/orders">Orders</a></li>
                        <li class="active" th:text="|#${orderCode}|">#240X5GX345AHT</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-2" style="margin-bottom: 2em;">
                    <!-- aside Widget -->
                    <div class="aside">
                        <ul class="aside-links">
                            <li><a href="/my-account">Summary</a></li>
                            <li><a href="/my-account/orders" class="active">Orders</a></li>
                            <li><a href="/my-account/details">Account details</a></li>
                            <li><a href="/my-account/address">Address</a></li>
                            <li><a href="/my-account/credit-cards">Credit cards</a></li>
                        </ul>
                    </div>
                    <!-- /aside Widget -->
                </div>
                <div class="col-md-10">
                    Your order is being processed, we will provide more details soon.
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
</th:block>

<th:block layout:fragment="javascript-extra">

</th:block>

</html>
