<div class="centralized-error-message">
    <div class="header-logo">
        <a routerLink="" class="logo">
            <img src="assets/images/logo.png" alt="">
        </a>
    </div>
    <h3>Pagina não encontrada</h3>
    <div>
        <p>Desculpe, a página que você tentou acessar não foi encontrada ou não existe mais.
            Verifique se a URL está correta ou entre em contato com a gente se precisar de ajuda.</p>
    </div>
    <a routerLink="" class="back-link">Voltar a página inicial</a>
</div>